@font-face {
    font-family: 'Babydoo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Babydoo Regular'), url('Babydoo.woff') format('woff');
    }

h1 {
    font-family: 'Babydoo Regular';
    font-weight: 200;
    color: #0ccac4;
}